.window > div, .window-content {
  height: 100%;
}

#note-title-input {
  border: none;
  height: 60px;
  font-size: 36px;
  box-shadow: none;
}

#content-editor {
  border: none;
  box-shadow: none;
}

.note-preview {
  font-weight: lighter;
}
