.window > div, .window-content {
  height: 100%;
}

#noteTitleInput {
  height: 32px;
  font-size: 19px;
}

#content-editor {
  border:none;
  box-shadow: none;
}

.note-preview {
  font-weight: lighter;
}
